<a href="https://colab.research.google.com/github/muhammed-shamil/machine-learning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/data science /Machine Learning /Decision Tree model/test_diabetes (2).csv',sep=';')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,148.0,72.0,35.0,0,33.6,0.627,50.0,1
1,1.0,85.0,66.0,29.0,0,26.6,0.351,31.0,0
2,8.0,183.0,64.0,0.0,0,23.3,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94,28.1,0.167,21.0,0
4,0.0,NaN,40.0,35.0,168,43.1,2.288,NaN,1

In [ ]:
df.shape

(768, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               731 non-null    float64
 1   Glucose                   730 non-null    float64
 2   BloodPressure             734 non-null    float64
 3   SkinThickness             734 non-null    float64
 4   Insulin                   717 non-null    object
 5   BMI                       733 non-null    float64
 6   DiabetesPedigreeFunction  728 non-null    float64
 7   Age                       717 non-null    float64
 8   Outcome                   768 non-null    object
dtypes: float64(7), object(2)
memory usage: 54.1+ KB

In [ ]:
df['Outcome'].value_counts()

0    339
1    177
N    161
Y     91
Name: Outcome, dtype: int64

In [ ]:
df['Outcome'].dtype

dtype('O')

In [ ]:
df['Outcome'].unique()

array(['1', '0', 'N', 'Y'], dtype=object)

In [ ]:
from traitlets.traitlets import Instance
def label(row):
  if isinstance(row['Outcome'],str) and 'N' in row ['Outcome']:
    return 0
  if isinstance(row['Outcome'],str) and 'Y' in row ['Outcome']:
    return 1
  if isinstance(row['Outcome'],str) and '0' in row ['Outcome']:
    return 0
  if isinstance(row['Outcome'],str) and '1' in row ['Outcome']:
    return 1

In [ ]:
df['Outcome'] = df.apply(label,axis=1)
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,148.0,72.0,35.0,0,33.6,0.627,50.0,1
1,1.0,85.0,66.0,29.0,0,26.6,0.351,31.0,0
2,8.0,183.0,64.0,0.0,0,23.3,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94,28.1,0.167,21.0,0
4,0.0,NaN,40.0,35.0,168,43.1,2.288,NaN,1

In [ ]:
df["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               731 non-null    float64
 1   Glucose                   730 non-null    float64
 2   BloodPressure             734 non-null    float64
 3   SkinThickness             734 non-null    float64
 4   Insulin                   717 non-null    object
 5   BMI                       733 non-null    float64
 6   DiabetesPedigreeFunction  728 non-null    float64
 7   Age                       717 non-null    float64
 8   Outcome                   768 non-null    int64
dtypes: float64(7), int64(1), object(1)
memory usage: 54.1+ KB

In [ ]:
df['Insulin'].value_counts()

Zero    346
105      11
140       8
130       8
94        7
       ...
360       1
545       1
375       1
258       1
112       1
Name: Insulin, Length: 182, dtype: int64

In [ ]:
df['Insulin'].unique()

array(['0', '94', '168', 'Zero', '88', '543', '846', '175', '230', nan,
       '96', '235', '146', '115', '110', '245', '54', '192', '207', '70',
       '240', '82', '36', '23', '300', '342', '142', '128', '38', '90',
       '140', '270', '71', '125', '176', '48', '64', '228', '76', '220',
       '40', '152', '18', '135', '495', '37', '51', '100', '99', '145',
       '225', '49', '50', '92', '325', '63', '119', '204', '155', '485',
       '53', '114', '105', '285', '156', '78', '55', '130', '58', '160',
       '210', '318', '44', '190', '280', '271', '129', '120', '478', '56',
       '32', '370', '45', '194', '680', '402', '258', '375', '150', '67',
       '57', '116', '278', '122', '545', '75', '74', '182', '360', '215',
       '184', '42', '132', '148', '180', '205', '85', '231', '29', '68',
       '52', '255', '171', '73', '108', '83', '43', '167', '249', '293',
       '66', '465', '89', '158', '84', '72', '59', '81', '196', '415',
       '87', '275', '165', '579', '310', '61', '474', '170', '277', '60',
       '14', '95', '237', '191', '328', '250', '480', '265', '193', '79',
       '86', '326', '188', '106', '65', '166', '274', '77', '126', '330',
       '600', '185', '25', '41', '272', '321', '144', '183', '91', '46',
       '440', '159', '200', '335', '387', '22', '291', '392', '178',
       '127', '510', '16', '112'], dtype=object)

In [ ]:
df['Insulin'] =df['Insulin'].replace({'Zero':'0'})
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,148.0,72.0,35.0,0,33.6,0.627,50.0,1
1,1.0,85.0,66.0,29.0,0,26.6,0.351,31.0,0
2,8.0,183.0,64.0,0.0,0,23.3,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94,28.1,0.167,21.0,0
4,0.0,NaN,40.0,35.0,168,43.1,2.288,NaN,1

In [ ]:
df['Insulin'] = df['Insulin'].astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               731 non-null    float64
 1   Glucose                   730 non-null    float64
 2   BloodPressure             734 non-null    float64
 3   SkinThickness             734 non-null    float64
 4   Insulin                   717 non-null    float64
 5   BMI                       733 non-null    float64
 6   DiabetesPedigreeFunction  728 non-null    float64
 7   Age                       717 non-null    float64
 8   Outcome                   768 non-null    int64
dtypes: float64(8), int64(1)
memory usage: 54.1 KB

In [ ]:
percent_missing = df.isna().sum()*100/len(df)
percent_missing

Pregnancies                 4.817708
Glucose                     4.947917
BloodPressure               4.427083
SkinThickness               4.427083
Insulin                     6.640625
BMI                         4.557292
DiabetesPedigreeFunction    5.208333
Age                         6.640625
Outcome                     0.000000
dtype: float64

In [ ]:
df = df.ffill()

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0
4,0.0,89.0,40.0,35.0,168.0,43.1,2.288,21.0,1

In [ ]:
percent_missing = df.isna().sum()*100/len(df)
percent_missing

Pregnancies                 0.130208
Glucose                     0.000000
BloodPressure               0.000000
SkinThickness               0.000000
Insulin                     0.000000
BMI                         0.000000
DiabetesPedigreeFunction    0.000000
Age                         0.000000
Outcome                     0.000000
dtype: float64

In [ ]:
df =df.bfill()

In [ ]:
percent_missing = df.isna().sum()*100/len(df)
percent_missing

Pregnancies                 0.0
Glucose                     0.0
BloodPressure               0.0
SkinThickness               0.0
Insulin                     0.0
BMI                         0.0
DiabetesPedigreeFunction    0.0
Age                         0.0
Outcome                     0.0
dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    float64
 1   Glucose                   768 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   Insulin                   768 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    float64
 8   Outcome                   768 non-null    int64
dtypes: float64(8), int64(1)
memory usage: 54.1 KB

In [ ]:
df.shape

(768, 9)

In [ ]:
import numpy as nm
import matplotlib.pyplot as mtp

In [ ]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.00000,768.000000,768.000000,768.000000
mean,3.821615,121.888021,68.942708,21.020833,77.233073,31.87474,0.477483,34.562500,0.348958
std,3.396171,31.942508,19.467537,15.898950,111.577425,7.95848,0.339772,17.886831,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.078000,-1.000000,0.000000
25%,1.000000,100.000000,64.000000,0.000000,0.000000,27.20000,0.246750,24.000000,0.000000
50%,3.000000,118.000000,72.000000,23.000000,15.000000,32.00000,0.374500,29.500000,0.000000
75%,6.000000,142.000000,80.000000,33.000000,126.000000,36.50000,0.637000,41.000000,1.000000
max,17.000000,198.000000,122.000000,99.000000,846.000000,67.10000,2.420000,200.000000,1.000000

In [ ]:
x= df.drop('Outcome',axis=1)
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,1.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0
4,0.0,89.0,40.0,35.0,168.0,43.1,2.288,21.0

In [ ]:
y = df['Outcome']
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.25, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
st_x= StandardScaler()
x_train= st_x.fit_transform(x_train)
x_test= st_x.transform(x_test)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
data= DecisionTreeClassifier(criterion='entropy', random_state=0)
data.fit(x_train, y_train)
y_pred = data.predict(x_test)
y_pred

array([0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0])

In [ ]:
from imblearn.over_sampling import SMOTE
sm = SMOTE()

In [ ]:
x_res,y_res = sm.fit_resample(x_train,y_train)

In [ ]:
from sklearn.preprocessing import StandardScaler
sd= StandardScaler()
x_train= sd.fit_transform(x_train)
x_test= sd.fit_transform(x_test)
x_res = sd.fit_transform(x_res)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
data= DecisionTreeClassifier(max_depth = 4,criterion='entropy', random_state=0)
data.fit(x_train, y_train)
y_pred = data.predict(x_test)
y_pred

array([1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0])

In [ ]:
#Checking accuracy and classification report
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
sva = accuracy_score(y_pred,y_test)
print('accuracy_score = ',sva)
print('Classification Report :',classification_report(y_pred,y_test))

accuracy_score =  0.7291666666666666
Classification Report :               precision    recall  f1-score   support

           0       0.87      0.76      0.81       148
           1       0.44      0.61      0.51        44

    accuracy                           0.73       192
   macro avg       0.65      0.69      0.66       192
weighted avg       0.77      0.73      0.74       192

In [ ]:
cm = confusion_matrix(y_pred,y_test)
print('confusion matrix:\n',cm)

confusion matrix:
 [[113  35]
 [ 17  27]]